<h1>{{"Hello" | reverse}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'shortTime'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'fullDate'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'mediumDate'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'shortDate'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'dd/MM/yyyy'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'yyyy-dd-MM'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'dd-MMM-yy'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth | date:'dd-MM-yy'}}</h1>
<h1 style="color: darkmagenta">{{var_eigth}}</h1>
<h1>{{var_seven | json}}</h1>
<h1 style="color: crimson">{{var_six | number:"4.1-2"}}</h1>
<h1 style="color: crimson">{{var_six | number:"3.1-2"}}</h1>
<h1 style="color: crimson">{{var_six | number:"3.1-3"}}</h1>
<h1 style="color: crimson">{{var_six}}</h1>
<h1 style="color: cornflowerblue">{{var_five | percent}}</h1>
<h1 style="color: burlywood">{{var_four | currency:"GBP"}}</h1>
<h1 style="color: burlywood">{{var_four | currency:"SAR"}}</h1>
<h1 style="color: burlywood">{{var_four | currency:"INR"}}</h1>
<h1 style="color: burlywood">{{var_four | currency}}</h1>
<h1 style="color: blue">{{var_three | titlecase}}</h1>
<h1 style="color: green">{{var_two | lowercase}}</h1>
<h1 style="color: red">{{var_one | uppercase}}</h1>