<table border="2" cellpadding="10px" cellspacing="10px" align="center"  style="text-align: center; font-size:20px"> 
    <thead style="background-color:gray">
		<tr>
			<th>Name</th>
            <th>Captial</th>
            <th>Time Zone</th>
			<th>Code</th>
			<th>Flag</th>		
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let x of result">
			<td>{{x.name}}</td>
            <td>{{x.capital}}</td>
            <td>{{x.timezones[0]}}</td>
			<td>{{x.currencies[0].code}}</td>
			<td><img width="100px" height="50px" src="{{x.flag}}"></td>
		</tr>
	</tbody>
</table>